.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d4a5b0; /* Color de fondo general */
  }
  
  .scrollContainer {
    flex-grow: 1;
    padding: 20px 5%;
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }
  
  .category {
    margin-bottom: 25px; /* Margen dinámico controlado por inline styles */
  }
  
  .categoryTitle {
    color: #4a4a4a;
    font-weight: bold;
    text-align: center;
  }
  