.footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;  /* Color de fondo por defecto */
    padding: 10px;
    width: 100%;
    height: 60px;  /* Altura del footer */
  }
  
  .footerButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;  /* Cada botón ocupa la mitad del footer */
    padding: 10px;
    transition: all 0.3s ease;
    color: #000;  /* Color de texto por defecto */
  }
  
  .footerButton:hover {
    background-color: #f0f0f0;
  }
  
  .icon {
    margin-right: 5px;
    color: #000;  /* Color del ícono por defecto */
  }
  
  /* Estilo para el botón activo */
  .active {
    background-color: #000; /* Fondo negro para el botón activo */
    color: #fff;  /* Texto blanco cuando está activo */
  }
  
  /* Estilo del ícono cuando el botón está activo */
  .activeIcon {
    color: #fff;  /* Ícono blanco cuando está activo */
  }
  